<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
<div id="content">
  <h1>My Journey learning ruby on rails</h1>
  <p>
This is my journey learning ruby on rails.  I have officially completed my first app using ruby on rails.  I have tried other tutorials but this was by far the easiest one to follow.  It cuts straight to the point.  By now this whole rails thing is making sense and I am starting to learn how an app works.
I am going to do the other app tutorials tutorials that are in this package and hopefully I can get through them all.  I am super motivated to learn rails and want to incorporate it into my other projects.  I think with each project I complete I will post in the comment section to show my progress.
 </p>
</div>
</div>
