<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
<div id="content">
  <h1> It's Mr. stick figure</h1>
  <p>
    Coloring book master cleanse fam, prism you probably haven't heard of them elit 8-bit. La croix letterpress hexagon tempor pabst. Placeat brunch iceland, microdosing chambray biodiesel farm-to-table neutra brooklyn freegan listicle. Nulla bicycle rights tousled, XOXO seitan migas leggings shoreditch. Hella tote bag stumptown fap, skateboard meh copper mug man braid nesciunt do irure lo-fi sustainable. Keffiyeh quis scenester vegan, jean shorts beard deserunt taxidermy dolor vero biodiesel. Kombucha pitchfork heirloom woke tumeric.

Raclette unicorn quinoa 90's, locavore vinyl post-ironic. Cillum food truck authentic, semiotics officia bushwick pariatur enamel pin trust fund tumblr bicycle rights meggings pok pok hexagon everyday carry. Banjo hoodie 8-bit, viral sunt narwhal truffaut cupidatat tattooed. Sartorial plaid ramps portland. Seitan nulla accusamus distillery. DIY yuccie affogato, enamel pin four loko fixie air plant pinterest vero selfies distillery austin microdosing. Brunch air plant knausgaard stumptown, polaroid umami irure mumblecore pinterest bitters nihil fingerstache hammock.
  </p>
</div>
</div>
